{% extends 'base.html' %}
{% block title %} Portal SEDU - Cadastro de Divisão {% endblock %}

{% block content %}
    <H1 class="hcenter"> Lista de Divisões </H1><br>

        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
       <!--       <div class="card-body">
                <div class="card-body-icon">
                  <i class="far fa-plus-square"></i>
                </div>
                <div class="mr-5">Para criar nova divisão</div> 
              </div>
              -->
              <a class="card-footer text-white clearfix small z-1" href="/divisao_create">
                <span class="float-left">NOVA DIVISÃO</span>
                <span class="float-right">
                  <i class="far fa-plus-square"></i>
                </span>
              </a>
            </div>
          </div>

            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td><b>Divisão</td>
                        <td><b>Sigla</td>
                        <td><b>Alterar / Excluir</td>

                    </tr>
                </thead>
                    
            {% for divisao in object_list %}
            <tr>
            <td> {{divisao.nome}}</td>
            <td> {{divisao.sigla}}</td>
            <td>&nbsp &nbsp <a href="{% url 'divisao_update' divisao.codigo %}"> <i class = "fas fa-pencil-alt"> </i> </a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a href="{% url 'divisao_delete' divisao.codigo %}"> <i class = "fas fa-trash-alt"> </i> </a>
            </td>
        
            </tr>
            {% endfor %}
            </table>
            </div>
    

 {% endblock %}