{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Portal SEDU - Nova Divisão {% endblock %}

{% block content %}
<div class="col-sm-6">
{% if submitted %}
    <p class="">
        Your message was submitted successfully. Thank you.
    </p>
    {% else %}

<form method="post" action="" novalidate>


{{ form|crispy }}

{% csrf_token %}

<button type="submit" class="btn btn-primary" value="submit">Salvar</button>
<button type="reset" class="btn btn-primary" style="margin: 0 20px">Limpar</button>

</form>
 {% endif %}


</div>
<p>

{% endblock %}