{% extends 'base.html' %}
{% block title %} Portal SEDU - Cadastro de Seções {% endblock %}

{% block content %}
    <H1 class="hcenter"> Listagem de Seções </H1><br>

   <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
       <!--       <div class="card-body">
                <div class="card-body-icon">
                  <i class="far fa-plus-square"></i>
                </div>
                <div class="mr-5">Para criar nova divisão</div> 
              </div> -->
                <a class="card-footer text-white clearfix small z-1" href="/secao_create">
                <span class="float-left">NOVA SEÇÃO</span>
                <span class="float-right">
                  <i class="far fa-plus-square"></i>
                </span>
              </a>
            </div>
          </div>

            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td><b>Secao</td>
                        <td><b>Sigla</td>
                        <td><b>Divisão Vinculada</td>
                        <td><b>Alterar / Excluir</td>

                    </tr>
                </thead>
                    
              {% for secao in object_list %}
              <tr>
              <td> {{secao.secao_nome}}</td>
              <td> {{secao.secao_sigla}}</td>
              <td> {{secao.divisao_codigo}}</td>
              <td>&nbsp &nbsp 
              <a href="{% url 'secao_update' secao.secao_codigo %}"> <i class = "fas fa-pencil-alt"> </i> </a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <!--Icone Lápis-->
              <a href="{% url 'secao_delete' secao.secao_codigo %}"> <i class = "fas fa-trash-alt"> </i> </a> <!--Icone Lixeira-->
              </td>
              </tr>
              {% endfor %}   
            </table>
            </div>
    

 {% endblock %}